.boardletters-container {
    display: flex;
}

.letter-container {
    width: 12.5%;
    text-align: center;
}

@media screen and (max-width: 750px){
    .boardletters-container {
        display: none;
    }
}